$primary-bg--normal: #0F6FFF;
$primary-bg--hover: #0059DE;
$primary-bg--active: #268BFF;

$secondary-bg--normal: #0F6FFF;
$secondary-bg--hover: #0059DE;
$secondary-bg--active: #268BFF;

$alternate-text: #8FA3BF;

.component {
  border: 1px solid transparent;
  border-radius: 3px;

  & + & {
    margin-left: 8px;
  }

  &:hover {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &.primary {
    background-color: $primary-bg--normal;
    border-color: $primary-bg--normal;
    color: white;

    &:hover,
    &:global(._forceHover) {
      border-color: $primary-bg--hover;
      background-color: $primary-bg--hover;
    }

    &:active,
    &:global(._forceActive) {
      border-color: $primary-bg--active;
      background-color: $primary-bg--active;
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: $secondary-bg--normal;
    color: $secondary-bg--normal;

    &:hover,
    &:global(._forceHover) {
      color: $secondary-bg--hover;
      border-color: $secondary-bg--hover;
    }

    &:active,
    &:global(._forceActive) {
      color: $secondary-bg--active;
      border-color: $secondary-bg--active;
      opacity: 0.9;
    }
  }

  &.alternate {
    color: $alternate-text;
  }

  &.regular {
    font-size: 16px;
    padding: 12px 16px;

    &:last-child {
      padding-left: 40px;
      padding-right: 40px;
    }

    &.text {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &.small {
    font-size: 14px;
    padding: 8px 16px;

    &:last-child {
      padding-left: 32px;
      padding-right: 32px;
    }

    &.text {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &.inline {
    font-size: inherit;
    padding: 4px 8px;
  }
}

