@import 'halo';

.component {
  &:last-child {
    border: 0;
  }
}

.selected {
  position: relative;
  font-weight: $weight-medium;

  &::before {
    content: '•'; // middot
    position: absolute;
    left: tempo(-2);
  }
}
