@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  @include border-rounded;
  @include font-antialiased;
  border: 1px solid transparent;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  overflow: hidden;

  & + & {
    margin-left: 0.75em;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:focus {
    // probably should not turn this off due to accessibility.
    outline: 0;
    box-shadow: 0 0 0 4px $blue--200;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

// Colors

.primary {
  background-color: $blue--500;
  border-color: $blue--500;
  color: $white;

  &:hover {
    color: $white;
    border-color: $blue--600;
    background-color: $blue--600;
  }

  &:active {
    color: $white;
    border-color: $blue--300;
    background-color: $blue--300;
  }
}

.secondary {
  background-color: $white;
  border-color: $blue--500;
  color: $blue--500;

  &:hover {
    color: $blue--600;
    border-color: $blue--600;
    background-color: #f4f5f7; // ebecee
  }

  &:active {
    color: $blue--400;
    border-color: $blue--300;
    background-color: #ebecee;
    opacity: 0.9;
  }
}

.warning {
  background-color: $orange--400;
  border-color: $orange--400;
  color: #0d0b22;

  &:hover {
    color: #0d0b22;
    border-color: $orange--400;
    background-color: #df9a3b;
  }

  &:active {
    color: #0d0b22;
    border-color: $orange--400;
    background-color: #ebecee;
    opacity: 0.9;
  }
}

.danger {
  background-color: $red--500;
  border-color: $red--500;
  color: $white;

  &:hover {
    color: $white;
    border-color: $red--600;
    background-color: $red--600;
  }

  &:active {
    color: $white;
    border-color: $red--600;
    background-color: $red--600;
    opacity: 0.9;
  }
}

.success {
  background-color: $green--400;
  border-color: $green--400;
  color: $green--100;

  &:hover {
    background-color: $green--300;
    border-color: $green--300;
  }

  &:active {
    background-color: $green--300;
    border-color: $green--300;
  }
}

.gray {
  background-color: $slate--100;
  color: $slate--400;

  &:hover {
    background-color: lighten ($slate--100, 10%);
  }

  &:active {
    background-color: $slate--200;
  }
}

.secondaryGray {
  background-color: transparent;
  border-color: $slate--500;
  color: $slate--600;

  &:hover {
    border-color: $slate--500;
    color: $slate--600;
    background-color: #f4f5f7; // ebecee
  }

  &:active {
    background-color: $slate--100;
  }
}

.alternate {
  color: $slate--500;
}

// Sizes

.large {
  font-size: 20px;
  padding: tempo(2) tempo(2.5);

  &:last-of-type {
    padding-left: 40px;
    padding-right: 40px;
  }

  &.text {
    padding-left: tempo(2);
    padding-right: tempo(2);
  }

  &.iconOnly {
    padding: tempo(2.5);
  }
}

.regular {
  font-size: 16px;
  padding: tempo(0.75 * 2) tempo(2);

  &:last-of-type {
    padding-left: tempo(5);
    padding-right: tempo(5);
  }

  &.text {
    padding-left: tempo(2);
    padding-right: tempo(2);
  }

  &.iconOnly {
    padding: tempo(2);
  }
}

.small {
  font-size: 14px;
  padding: tempo(1) tempo(2);

  &:last-of-type {
    padding-left: tempo(2);
    padding-right: tempo(2);
  }

  &.text {
    padding-left: tempo(1);
    padding-right: tempo(1);
  }

  &.iconOnly {
    padding: tempo(1);
  }
}

.xsmall {
  font-size: 12px;
  padding: tempo(0.5) tempo(1);

  &.text {
    padding-left: tempo(1);
    padding-right: tempo(1);
  }

  &.iconOnly {
    padding: tempo(1);
  }
}

.emphasis {
  font-weight: $weight--bold;
}

.inline {
  display: inline-block;
  font-size: inherit;
  padding: tempo(0.5) tempo(1);
}

.icon {
  text-align: center;
}
