@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;

  & + & {
    margin-left: 8px;
  }

  &:hover {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &.primary {
    background-color: $blue;
    border-color: $blue;
    color: white;

    &:hover,
    &:global(._forceHover) {
      border-color: $blue--dark;
      background-color: $blue--dark;
    }

    &:active,
    &:global(._forceActive) {
      border-color: $blue--light;
      background-color: $blue--light;
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: $blue;
    color: $blue;

    &:hover,
    &:global(._forceHover) {
      color: $blue--dark;
      border-color: $blue--dark;
    }

    &:active,
    &:global(._forceActive) {
      color: $blue--light;
      border-color: $blue--light;
      opacity: 0.9;
    }
  }

  &.alternate {
    color: $gray;
  }

  &.gray {
    background-color: #f2f4f7;
    color: #979797;
  }

  &.secondaryGray {
    background-color: transparent;
    border-color: $gray;
    color: $gray--dark;
  }

  &.regular {
    font-size: 16px;
    padding: 12px 16px;

    &:last-of-type {
      padding-left: 40px;
      padding-right: 40px;
    }

    &.text {
      padding-left: 16px;
      padding-right: 16px;
    }

    &.iconOnly {
      padding: 16px;
    }
  }

  &.small {
    font-size: 14px;
    padding: 8px 16px;

    &:last-of-type {
      padding-left: 32px;
      padding-right: 32px;
    }

    &.text {
      padding-left: 8px;
      padding-right: 8px;
    }

    &.iconOnly {
      padding: 8px;
    }
  }

  &.inline {
    display: inline-block;
    font-size: inherit;
    padding: 4px 8px;
    margin-right: 0.333em;
  }

  &.icon {
    text-align: center;
  }
}
