@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  @include border-rounded;
  border: 1px solid transparent;
  text-decoration: none;
  overflow: hidden;

  & + & {
    margin-left: 0.5em;
  }

  &:hover {
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  // Colors

  &.primary {
    background-color: $blue;
    border-color: $blue;
    color: white;

    &:hover,
    &:global(._forceHover) {
      border-color: $blue--dark;
      background-color: $blue--dark;
    }

    &:active,
    &:global(._forceActive) {
      border-color: $blue--light;
      background-color: $blue--light;
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: $blue;
    color: $blue;

    &:hover,
    &:global(._forceHover) {
      color: $blue--dark;
      border-color: $blue--dark;
    }

    &:active,
    &:global(._forceActive) {
      color: $blue--light;
      border-color: $blue--light;
      opacity: 0.9;
    }
  }

  &.alternate {
    color: $gray;
  }

  &.gray {
    background-color: #f2f4f7;
    color: #979797;
  }

  &.secondaryGray {
    background-color: transparent;
    border-color: $gray;
    color: $gray--dark;
  }

  // Sizes

  &.large {
    font-size: 20px;
    padding: tempo(1) tempo(1.25);

    &:last-of-type {
      padding-left: 40px;
      padding-right: 40px;
    }

    &.text {
      padding-left: tempo(1);
      padding-right: tempo(1);
    }

    &.iconOnly {
      padding: tempo(1.25);
    }
  }

  &.regular {
    font-size: 16px;
    padding: tempo(0.75) tempo(1);

    &:last-of-type {
      padding-left: tempo(2.5);
      padding-right: tempo(2.5);
    }

    &.text {
      padding-left: tempo(1);
      padding-right: tempo(1);
    }

    &.iconOnly {
      padding: tempo(1);
    }
  }

  &.small {
    font-size: 14px;
    padding: tempo(0.5) tempo(1);

    &:last-of-type {
      padding-left: tempo(1);
      padding-right: tempo(1);
    }

    &.text {
      padding-left: tempo(0.5);
      padding-right: tempo(0.5);
    }

    &.iconOnly {
      padding: tempo(0.5);
    }
  }

  &.xsmall {
    font-size: 12px;
    padding: tempo(0.5) tempo(1);

    &.text {
      padding-left: tempo(0.5);
      padding-right: tempo(0.5);
    }

    &.iconOnly {
      padding: tempo(0.5);
    }
  }

  &.inline {
    display: inline-block;
    font-size: inherit;
    padding: tempo(0.25) tempo(0.5);
    margin-right: 0.333em;
  }

  &.icon {
    text-align: center;
  }
}
