@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* @import '~halo/dist/halo.css'; */

div[data-testid='live-preview'] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div[data-testid='live-preview'] h4:not(:first-child) {
  margin-top: 2em;
}

.tippy-popper {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
