@import 'halo';

$size-sm: 12px;
$size-md: 16px;

.component {
  text-align: center;

  &.circle {
    @include border-circle;
    line-height: 2;

    &.sm {
      height: $size-sm;
    }

    &.md {
      height: $size-md;
    }
  }

  &.oval {
    line-height: 2.5;

    &.sm {
      @include border-rounded(6px);
      height: 15px;
    }

    &.md {
      @include border-rounded(8px);
      height: 20px;
    }
  }

  &.sm {
    @include font($color: white, $size: 6px);
    width: $size-sm;
  }

  &.md {
    @include font($color: white, $size: 8px, $weight: bold);
    width: $size-md;
  }

  &.red {
    background-color: $red--600;
  }

  &.orange {
    background-color: $orange--600;
  }

  .icon {
    display: block;
    margin: auto;

    &.sm {
      width: 6px;
      height: 6px;

      &.circle {
        padding-top: 3px;
      }

      &.oval {
        padding-top: 4px;
      }
    }

    &.md {
      width: 8px;
      height: 8px;
      padding-top: 6px;

      &.circle {
        padding-top: 4px;
      }

      &.oval {
        padding-top: 6px;
      }
    }
  }
}
