@charset 'UTF-8';
@import 'variables';
@import 'flex';

@mixin halo-test {
  color: aquamarine;
  font-size: 60px;
  margin: 2em;
  outline: 1px solid red;
  padding: 3em;
  text-align: center;
  text-decoration: underline;
  -webkit-font-smoothing: antialiased;
}

@mixin font-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-monospace {
  font-family: Monaco, 'Courier New', monospace;
}
