@charset 'UTF-8';

// partial imports include both variables + mixins for convenience
@import 'border';
@import 'breakpoints';
@import 'colors';
@import 'flex';
@import 'reset';
@import 'space';
@import 'type';
@import 'zindex';

@mixin halo-test {
  color: aquamarine;
  font-size: 60px;
  margin: 1em;
  outline: 1px solid red;
  padding: 1em;
  text-align: center;
}
