$font-family-primary: 'helvetica neue', arial, helvetica, freesans,
  'liberation sans', 'numbus sans l', sans-serif;
$font-family-secondary: georgia, serif;
$font-family-serif: georgia, serif;
$font-family-monospace: Monaco, 'Courier New', monospace;

$font-families: (
  primary: $font-family-primary,
  secondary: $font-family-secondary,
  serif: $font-family-serif,
  monospace: $font-family-monospace,
);

@mixin font-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-primary {
  font-family: $font-family-primary;
}

@mixin font-secondary {
  font-family: $font-family-secondary;
}

@mixin font-serif {
  font-family: $font-family-serif;
}

@mixin font-monospace {
  font-family: $font-family-monospace;
}
