/**
* COLOR PALETTE
*/

@import 'colors';

/**
 * TYPEFACES
 */

// families
$font-family-primary: 'helvetica neue', arial, helvetica, freesans,
  'liberation sans', 'numbus sans l', sans-serif;
$font-family-secondary: georgia, serif;
$font-family-serif: georgia, serif;
$font-family-monospace: Monaco, 'Courier New', monospace;

$font-families: (
  primary: $font-family-primary,
  secondary: $font-family-secondary,
  serif: $font-family-serif,
  monospace: $font-family-monospace,
);

// weights
$weight-ultralight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-heavy: 800;

$weights: (
  ultralight: $weight-ultralight,
  light: $weight-light,
  regular: $weight-regular,
  medium: $weight-medium,
  semibold: $weight-semibold,
  bold: $weight-bold,
  heavy: $weight-heavy,
);

// transforms
$text-transforms: (lowercase, uppercase, capitalize, none);

// sizes (NOTE: TBD/WIP)
$font-size-small-placeholder: 10px;
$font-size-regular-placeholder: 14px;
$font-size-large-placeholder: 24px;

$font-sizes: (
  small: $font-size-small-placeholder,
  regular: $font-size-regular-placeholder,
  large: $font-size-large-placeholder,
);

// line heights (NOTE: TBD/WIP)
$line-height-small-placeholder: 14px;
$line-height-regular-placeholder: 18px;
$line-height-large-placeholder: 30px;

$line-heights: (
  small: $line-height-small-placeholder,
  regular: $line-height-regular-placeholder,
  large: $line-height-large-placeholder,
);

/**
* Z-INDEX
*/

$z-index--hover: 2;
$z-index--tooltip: 10;
$z-index--menu: 100;
$z-index--overlay: 200;
$z-index--postoverlay: 300;
$z-index--modal: 400;
$z-index--postmodal: 500;
$z-index--sky: 1000;
$z-index--space: 9000;
$z-index--max: 2147483647;
