@import 'halo';

// Sizes (includes line height)

@each $name, $font-size-and-lh in $font-sizes-map {
  .#{$name} {
    font-size: map-get($font-size-and-lh, font-size);
    line-height: map-get($font-size-and-lh, line-height);
  }
}

// weights

@each $name, $weight in $weights {
  .weight--#{$name} {
    font-weight: $weight;
  }
}

// Custom line heights

@each $name, $line-height in $line-heights {
  .lineHeight--#{$name}.lineHeight--#{$name} {
    line-height: $line-height;
  }
}

// Convenience configuration

.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.semibold {
  font-weight: $weight--medium; // aka "medium"
}

.bold {
  font-weight: $weight--bold;
}

.monospace {
  @include font($family: monospace);
}

.error {
  color: $text-dark--error;
}

.warning {
  color: $text-dark--warning;
}

.success {
  color: $text-dark--success;
}

.antialiased {
  @include font-antialiased;
}

// color scheme + type contrast

.dark {
  &.AAAA {
    color: $text-dark--aaaa;
  }

  &.AAA {
    color: $text-dark--aaa;
  }

  &.AA {
    color: $text-dark--aa;
  }

  &.A {
    color: $text-dark--a;
  }
}

.light {
  &.AAAA {
    color: $text-light--aaaa;
  }

  &.AAA {
    color: $text-light--aaa;
  }

  &.AA {
    color: $text-light--aa;
  }

  &.A {
    color: $text-light--a;
  }
}

// custom colors

@each $name, $color in $colors {
  .#{$name}.#{$name} {
    color: $color;
  }
}
