@import 'halo';

$directions: (top bottom left right);
$box-alignments: (
  top center bottom left right normal space-between space-evenly
);
$text-alignments: (left center right);
$grid-cell-count: 24;

.component {
  @include border-box; // TODO: deprecate

  &.wrap {
    flex-wrap: wrap;
  }

  &.relative {
    position: relative;
  }

  &.flexColumn {
    @include flex-column($align: flex-start);

    @each $alignment in $box-alignments {
      &.align_#{$alignment} {
        align-items: map-get($box-flex, $alignment);
      }

      &.valign_#{$alignment} {
        justify-content: map-get($box-flex, $alignment);
      }
    }
  }

  &.flexRow {
    @include flex-row;

    @each $alignment in $box-alignments {
      &.align_#{$alignment} {
        justify-content: map-get($box-flex, $alignment);
      }

      &.valign_#{$alignment} {
        align-items: map-get($box-flex, $alignment);
      }
    }
  }

  @for $i from 1 through 10 {
    @each $d in $directions {
      &.padding_#{$d}_#{$i} {
        padding-#{$d}: tempo($i);
      }

      &.margin_#{$d}_#{$i} {
        margin-#{$d}: tempo($i);
      }
    }
  }

  @each $t in $text-alignments {
    &.textAlign_#{$t} {
      text-align: $t;
    }
  }
}
