@import 'halo';

$badge-size: 16px;

.component {
  position: absolute;
  right: -3px;
  top: -2px;
  @include border-box; // TODO: deprecate
  @include border-circle;
  @include font(
    $size: 9px,
    $weight: bold,
    $color: white,
    $transform: uppercase,
    $antialiased: true,
    $line: 9px
  );
  border: 1px solid $slate--100;
  height: $badge-size;
  text-align: center;

  // shapes
  &.circle {
    @include border-circle;
    width: $badge-size;
  }

  &.square {
    @include border-rounded(4px);
    padding: 0 2px 0 3px;
  }

  // colors
  &.gray {
    background-color: $slate--600;
    border-color: $slate--100;
  }

  &.purple {
    background-color: $purple--600;
    border-color: $purple--100;
  }

  &.blue {
    background-color: $blue--600;
    border-color: $blue--100;
  }

  &.green {
    background-color: $green--600;
    border-color: $green--100;
  }
  &.red {
    background-color: $red--600;
    border-color: $red--100;
  }

  &.orange {
    background-color: $orange--600;
    border-color: $orange--100;
  }
}
