.eslintrc.js
**/.cache
**/.docz
**/.rollup.cache
**/.vscode
**/CHANGELOG.md
**/dist
**/node_modules
**/public
babel.config.js
packages/docs/*.js
packages/docs/src/gatsby-theme-docz/**/*
packages/docs/src/lib/types.ts
packages/halo/*.js
packages/halo/src/lib/types.ts
tools
