# build directories for docz, gatsby
.buildkite
.cache
.docz
.vscode
docs
public
test
tools

# config files
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.release-it.json
.yarnrc
*.tsbuildinfo
Dockerfile
Dockerfile.dockerignore
gatsby-config.js
halo.code-workspace
jest.config.js
jest.dev.js
tsconfig.json
tslint.json

# source code
src

# boilerplate
.circleci/
.github/
.gitignore
.ruby-version
.sass-cache
.scss-lint.yml
_site
bin/
halo.gemspec
features/
Gemfile
Gemfile.lock
pkg/
Rakefile
spec/
