$box-flex: (
  top: flex-start,
  center: center,
  bottom: flex-end,
  left: flex-start,
  right: flex-end,
  normal: normal,
  space-between: space-between,
  space-evenly: space-evenly,
);

@mixin flex-column($fill: false, $align: null, $valign: null, $basis: null) {
  display: flex;
  flex-direction: column;
  @if $basis {
    flex-basis: $basis;
  }
  @if $align {
    align-items: map-get($box-flex, $align);
  }
  @if $valign {
    justify-content: map-get($box-flex, $valign);
  }
  @if $fill {
    flex: 1 1 0;
  }
  min-width: 0;
  min-height: 0;
}

@mixin flex-row($fill: false, $align: null, $valign: top, $basis: null) {
  display: flex;
  flex-direction: row;
  @if $basis {
    flex-basis: $basis;
  }
  @if $align {
    justify-content: map-get($box-flex, $align);
  }
  @if $valign {
    align-items: map-get($box-flex, $valign);
  }
  @if $fill {
    flex: 1 1 0;
  }
  min-width: 0;
  min-height: 0;
}
