// 24px => 24
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function has-unit($v) {
  @return not unitless($v);
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin halo-element-base {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
}
