@import 'halo';

.input {
  // hide-default-browser-input
  opacity: 0;
  position: absolute;
  -webkit-appearance: none;
  z-index: -2;

  &[disabled] {
    pointer-events: none;
  }
}

// Label - larger clickable area is also responsible for rendering checked state

.controlAlignCenter {
  @include input-control-center;
}

.checkbox {
  @include input-label-checkbox;
}

.pill {
  @include input-label-pill;
}

.toggleSwitch {
  @include input-label-toggle-switch-left;
}
