@import '../../../scss/halo';

$height: 28px;
$text: #627899;
$border: #E4E7F0;

.component {
  display: inline-block;
  box-sizing: border-box;
  border-radius: $height / 2;
  border: 1px solid $border;
  color: $text;
  font-size: 14px;
  font-weight: 500;
  height: $height;
  line-height: $height - 2px;
  padding: 0 13px;
  text-align: center;
  margin-bottom: 0.333rem;
  // @include font-antialiased;

  & + & {
    margin-left: 0.333rem;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $text;
    text-decoration: none;
    cursor: pointer;
  }
}
