@import 'halo';

$height: 28px;

.component {
  @include border-box; // TODO: deprecate
  display: inline-block;
  box-sizing: border-box;
  border-radius: $height / 2;
  border: 1px solid $gray--xxlight;
  color: $gray--dark;
  font-size: 14px;
  height: $height;
  line-height: $height - 2px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 0.333rem;
  margin-right: 0.333rem;
  overflow: hidden;
  @include text-truncate;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $gray--dark;
    text-decoration: none;
    cursor: pointer;
  }
}
