@import 'halo';

$height: 28px;
$text: #627899;
$border: #e4e7f0;

.component {
  @include border-box; // TODO: deprecate
  display: inline-block;
  box-sizing: border-box;
  border-radius: $height / 2;
  border: 1px solid $border;
  color: $text;
  font-size: 14px;
  height: $height;
  line-height: $height - 2px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 0.333rem;
  margin-right: 0.333rem;

  // @include font-antialiased;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $text;
    text-decoration: none;
    cursor: pointer;
  }
}
