@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  @include border-rounded;
  height: 150px;

  & + & {
    margin-left: tempo(0.5);
  }

  &:first-of-type {
    margin-left: 0;
  }

  .color {
    @include border-rounded;
    width: 100px;
    height: 80px;
    margin-bottom: tempo(0.5);
    content: ' ';
  }

  .name {
    display: block;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    white-space: nowrap;
    word-break: keep-all;
    margin-bottom: tempo(0.25);
  }

  .attributes {
    @include font($color: gray, $size: 10px, $family: monospace, $antialiased: true, $spacing: -0.02em);
    white-space: nowrap;
    word-break: keep-all;
  }
}

// enumerate all swatches
@each $name, $color in $colors {
  .#{$name} {
    .color {
      background-color: $color;
    }
  }
}
