@import 'halo';

.component {
  @include border-rounded;
  @include font($size: md);
  @include flex-column($align: stretch, $valign: top);
  max-width: grid-cell-width(10);
  min-height: grid-cell-width(5);
  border: 1px solid #f2f4f7;

  &.contextInline {
    box-shadow: inherit;
  }

  &.contextModal {
    box-shadow: 0 -2px 10px 0 rgba(196, 207, 223, 0.33),
      0 0 1px 0 rgba(0, 12, 32, 0.02), 4px 12px 20px 0 rgba(3, 17, 38, 0.11);
  }
}

.title {
  padding: tempo(1.5) tempo(2);
  border-bottom: 1px solid #f2f4f7;
}

.content {
  .paddingDefault & {
    padding: tempo(1.5) tempo(2);
  }
}

.chin {
  @include flex-row($align: right, $valign: center);
  border-top: 1px solid #f2f4f7;
  margin-top: auto; // pushes chin to bottom
  margin-left: tempo(2);
  margin-right: tempo(2);
  padding: tempo(1.5) 0;
}
