@import 'halo';

.component {
  @include border-rounded;
  @include font($size: md, $transform: uppercase, $spacing: 0.4px);

  &.contextModal {
    box-shadow: 0 -2px 10px 0 rgba(196, 207, 223, 0.33),
      0 0 1px 0 rgba(0, 12, 32, 0.02), 4px 12px 20px 0 rgba(3, 17, 38, 0.11);
  }
}

.title {
  padding: tempo(1);
  border-bottom: 1px solid #f2f4f7;
}

.content {
  .paddingDefault & {
    padding: tempo(2);
  }
}

.chin {
  @include flex-row($align: right, $valign: center);
  margin: 0 tempo(1);
  padding: tempo(1) 0;
}
