//
@import 'halo';

$size-xxsmall: 24px;
$size-xsmall: 32px;
$size-small: 48px;
$size-medium: 60px;
$size-large: 80px;
$size-badge: 16px;

.component {
  @include border-box; // TODO: deprecate
  position: relative;

  // sizes
  &.xxsmall {
    height: $size-xxsmall;
    width: $size-xxsmall;
  }

  &.xsmall {
    height: $size-xsmall;
    width: $size-xsmall;
  }

  &.small {
    height: $size-small;
    width: $size-small;
  }

  &.medium {
    height: $size-medium;
    width: $size-medium;
  }

  &.large {
    height: $size-large;
    width: $size-large;
  }
}

img.avatar {
  display: block;
  border: 1px solid $gray--xxxlight;
  max-width: 100%;
  max-height: 100%;

  // shapes
  &.circle {
    @include border-circle;
  }

  &.square {
    @include border-rounded;
  }
}
