@import '../variables';

@mixin font(
  $color: null,
  $family: null,
  $line: null,
  $size: null,
  $weight: null,
  $transform: null,
  $antialiased: null,
  $spacing: null,
  $truncate: null
) {
  @if map-has-key($colors, $color) {
    color: map-get($colors, $color);
  } @else if $color {
    color: $color;
  }

  @if $size and map-has-key($font-sizes-map, 'size--' + $size) {
    font-size: map-deep-get($font-sizes-map, 'size--' + $size, font-size);

    // include matching line-height *unless* we set $line to false`
    @if $line != false {
      line-height: map-deep-get($font-sizes-map, 'size--' + $size, line-height);
    }
  } @else if $size and has-unit($size) {
    font-size: $size;
  }

  @if map-has-key($line-heights, $line) {
    line-height: map-get($line-heights, $line);
  } @else if $line and $size {
    line-height: $line-height-default; // default line height is 140%
  }

  @if map-has-key($weights, $weight) {
    font-weight: map-get($weights, $weight);
  }

  @if map-has-key($font-families, $family) {
    font-family: map-get($font-families, $family);
  }

  @if $transform and index($text-transforms, $transform) != -1 {
    text-transform: $transform;
  }

  @if $spacing and has-unit($spacing) {
    letter-spacing: $spacing;
  }

  @if $antialiased {
    @include font-antialiased;
  }

  @if $truncate {
    @include text-truncate;
  }
}

@mixin font-default-link($color: $text-dark-link, $args...) {
  &,
  &:link,
  &:visited,
  &:active {
    @include font($color: $color, $args...);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@mixin font-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-subpixel {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

// note: requires fixed width container
@mixin text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
