@import 'halo';

.component {
  @include border-rounded;
  @include font($size: sm, $weight: medium, $spacing: 0.4px);
  @include font-antialiased;
  padding: tempo(0.5) tempo(1);
  cursor: default;
  text-transform: uppercase;

  &.textTransformNone {
    text-transform: none;
  }
}

// sizes

.size_3xs {
  // NOTE(drew): 3xs size is not officially in Halo, but
  // it is useful for this type of element
  font-size: 9px;
  padding: 2px tempo(0.5) 3px;
  @include border-rounded(2px);
}

.size_2xs {
  @include font($size: 2xs);
}

.size_xs {
  @include font($size: xs);
}

.size_sm {
  @include font($size: sm);
}

.size_md {
  @include font($size: md);
}

.size_lg {
  @include font($size: lg);
}

.size_xl {
  @include font($size: xl);
  padding: tempo(0.5) tempo(1.5);
}

// colors

.blue {
  @include font($color: blue--600);
  background: rgba($blue--200, 0.77);
}

.gray,
.slate {
  @include font($color: slate--600);
  background: rgba($slate--200, 0.77);
}

.orange {
  @include font($color: orange--600);
  background-color: rgba($orange--200, 0.77);
}

.red {
  @include font($color: red--600);
  background-color: $red--200;
}

.purple {
  @include font($color: purple--600);
  background-color: rgba($purple--200, 0.77);
}

.green {
  @include font($color: green--600);
  background-color: $green--200;
}
