@import '../../../../scss/halo';

.component {
  &.column {
    @include flex-column;
  }

  &.row {
    @include flex-row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  @for $i from 1 through 10 {
    &.padding-#{$i} {
      padding: tempo($i);
    }

    &.margin-#{$i} {
      margin: tempo($i);
    }
  }
}
