@import 'halo';

.component {
  @include border-rounded;
  @include font(
    $size: 14px,
    $weight: medium,
    $transform: uppercase,
    $spacing: 0.4px
  );
  padding: tempo(0.5) tempo(1);

  &.blue {
    @include font($color: blue--600);
    background: rgba($blue--200, 0.77);
  }

  &.gray {
    @include font($color: slate--600);
    background: rgba($slate--200, 0.77);
  }
}
