@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;

  a {
    @include font-default-link;
  }
}

.flow {
  margin-bottom: 1em;
}
