@import 'halo';

.component {
  @include border-box; // TODO: deprecate
  font-size: 16px; // 16pt / 24pt
  line-height: 1.5;
  color: #162040; // $halo-text
  margin: 0;
  padding: 0;

  &.presetSupport {
    font-size: 14px; // 14pt / 20pt
    line-height: 1.43;
    color: #627899; // $halo-text--support
  }

  &.presetMicro {
    font-size: 12px; // 12pt / 20pt
    line-height: 1.668;
    color: #8fa3bf; // $halo-text--micro
  }

  &.presetError {
    font-size: 14px; // 14pt / 20pt
    line-height: 1.43;
    color: #f2a73d; // $halo-text--support
  }

  &.flow {
    margin-bottom: 32px;
  }
}
