@import '../../../../scss/halo';

.component {
  display: block;
  border-radius: 4px;
  border: 1px solid $gray--xxlight;
  font-size: 14px;
  outline: none;
  padding: 8px;
  width: 100%;

  &.widthAuto {
    width: auto;
  }

  &:focus {
    border: 1px solid $blue--light;
    box-shadow: none;
    outline-offset: 0;
    outline: none;
    background-color: #fafafa;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
  }

  &:-internal-autofill-selected {
    box-shadow: 0 0 0 50px white inset;
  }
}

.error {
  border-color: rgba($red--xdark, 0.5);
}
