@import 'halo';

.component {
  @include border-rounded(2px);
  @include flex-column($fill: true);
  align-items: stretch;
  padding: tempo(2);
  height: 120px;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid transparent;

  & + & {
    margin-left: tempo(2);
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:focus {
    outline: 0;
    border: 1px solid rgba($blue-400, 0.5);
  }

  .color {
    @include border-rounded;
    height: 60px;
    margin-bottom: tempo(1);
    content: ' ';
    cursor: pointer;
  }

  .hex {
    display: block;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    word-break: keep-all;
    margin-bottom: tempo(1);
    padding: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: copy;

    &:hover {
      background-color: $slate-200;
    }
  }

  .variableName {
    @include font(
      $color: slate-600,
      $size: 11px,
      $family: monospace,
      $antialiased: true
    );
    cursor: copy;
    white-space: nowrap;
    word-break: keep-all;

    &:hover {
      background-color: $slate-200;
    }
  }

  &.backgroundBlack {
    color: $light-aaaa;
    background-color: $slate-900;
    @include font-antialiased;

    .variableName {
      color: $light-aaa;
    }
  }

  &.backgroundWhite {
    color: $dark-aaa;
  }
}

@each $name, $color in $colors {
  :global(.halo-colorswatch-#{'' + $name}) {
    .color {
      position: relative;
      background-color: $color;

      // Clever Boi™ way to print the hex color value as content
      &::before {
        position: absolute;
        top: calc(60% - 20px);
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        padding: 0 tempo(2);
        text-align: center;
        line-height: 20px;
        color: darken($color, 70%);
        content: ' ';
        pointer-events: none;
        @include border-rounded;
        @include font-antialiased;
        @include font(
          $size: 11px,
          $family: monospace,
          $antialiased: true,
          $spacing: 0.05em
        );
      }
    }
  }
}
