@import '../space';

@mixin input-placeholder($size: md) {
  @include font($size: $size, $color: $text-dark--a);
}

@mixin input--disabled {
  @include font($color: $text-dark--a);
  background-color: $slate--200;
  border-color: $slate--300;
}

@mixin input-border--focused {
  box-shadow: 0 0 0 4px $blue--200;
  outline: none;
}

@mixin input-border--hover {
  @include border-rounded;
  border: 1px solid $blue--500;
}

@mixin input-border--warning {
  @include border-rounded;
  border: 1px solid $text-dark--warning;
}

@mixin input-border--error {
  @include border-rounded;
  border: 1px solid $text-dark--error;
}

@mixin input-border--slate {
  @include border-rounded;
  border: 1px solid $slate--400;
}

@mixin input-border--transparent {
  border: none;
  box-shadow: none;
  outline: none;
}
