@import './base';

$input-height: 50px;
$input-height-transparent: 48px;

/**
 * @deprecated (drew) 2022-02-25
 * @mixin deprecated as of 0.15.2
 * Please do not use in new code.
*/
@mixin input($size: md, $style: normal) {
  @include font($size: $size, $color: $gray-900);
  max-width: 100%;
  padding: tempo(3) tempo(4);

  @if $style == normal {
    border: 1px solid $gray-400;
    border-radius: 4px;
    background-color: white;
  } @else if $style == transparent {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
  }

  &::placeholder {
    @include input-placeholder($size: $size);
  }

  &:hover {
    @if $style == normal {
      border-color: $blue-500;
    }
  }

  &:focus {
    @if $style == normal {
      border-color: $blue-500;
      box-shadow: 0 0 0 4px $blue-200;
      outline: none;
    }
  }

  &[disabled] {
    @include input-disabled;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
  }

  &:-internal-autofill-selected {
    box-shadow: 0 0 0 50px white inset;
  }

  &.widthAuto {
    width: auto;
  }

  &.width100 {
    width: 100%;
  }

  &.hasError {
    &.warning {
      border: 1px solid $dark-warning;
    }

    &.critical {
      border: 1px solid $dark-error;
    }
  }
}
