@import './base';

$raw-toggle-switch-gutter-width: tempo(3.5) !default;
$raw-toggle-switch-gutter-height: 10px !default;
$raw-toggle-switch-knob-size: tempo(2) !default;

@mixin input-label-toggle-switch-left {
  @extend %input-label-base;
  padding-left: tempo(5);
  padding-right: tempo(1);

  // line-height: $raw-toggle-switch-gutter-height - 1px;
  display: block;

  // switch gutter
  &::before {
    left: 0;
    top: 7px;
    border-radius: 7px;
    height: $raw-toggle-switch-gutter-height;
    width: $raw-toggle-switch-gutter-width;
    background-color: currentColor;
  }

  // toggle circle nub
  &::after {
    left: 0;
    top: 4px;
    width: $raw-toggle-switch-knob-size;
    height: $raw-toggle-switch-knob-size;
    background-color: $white;
    @include border-circle;
    border: 1px solid currentColor;
  }

  // off (unchecked)
  :not(:checked) + & {
    &::before,
    &::after {
      color: #2b2823; // TODO(drew): GTM color;
    }
  }

  // on (checked)
  :checked + & {
    &::before,
    &::after {
      color: $blue-500;
    }

    // move knob rightward to indicate 'on' state
    &::after {
      left: $raw-toggle-switch-knob-size - 4px;
    }
  }

  [disabled]:checked + & {
    &::before,
    &::after {
      color: $blue-500;
    }
  }

  .hasError.warning + & {
    &::before,
    &::after {
      color: $dark-warning;
    }
  }

  .hasError.critical + &,
  .hasError.critical:checked + & {
    &::before,
    &::after {
      color: $dark-error;
    }
  }
}
