@import 'halo';

.component {
  @include border-rounded;
  @include font($size: md);
  @include flex-column($align: stretch, $valign: top);
  max-width: grid-cell-width(10);
  min-height: grid-cell-width(5);
  border: 1px solid #f2f4f7;
}

.title {
  padding: tempo(3) tempo(4);
  border-bottom: 1px solid #f2f4f7;
}

.content {
  .paddingDefault & {
    padding: tempo(3) tempo(4);
  }
}

.chin {
  @include flex-row($align: right, $valign: center);
  border-top: 1px solid #f2f4f7;
  margin-top: auto; // pushes chin to bottom
  margin-left: tempo(4);
  margin-right: tempo(4);
  padding: tempo(3) 0;
}
