@import 'halo';

$pilltag-height: 28px;
$pilltag-border-radius: 13px;

.component {
  @include text-truncate;
  display: inline-block;
  border-radius: $pilltag-border-radius;
  border: 1px solid $slate-200;
  color: $dark-aaa;
  font-size: 14px;
  height: $pilltag-height;
  line-height: $pilltag-height;
  letter-spacing: -0.01px;
  padding: 0 10px;
  text-align: center;
  margin-right: tempo(2);
  margin-bottom: tempo(1);

  &:last-child {
    margin-right: 0;
  }

  &.anchor,
  &[role='button'] {
    &:hover {
      border-color: $slate-400;
      cursor: pointer;
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $dark-aaa;
    text-decoration: none;
    cursor: pointer;
  }
}
