@import 'halo';

$rawinput-icon-container-size: tempo(4.5) !default;

.component {
  @include halo-element-base;
  width: 100%;

  &.bordered {
    @include input;
  }

  &.transparent {
    @include input($style: transparent);
  }

  &.hasIconRight {
    padding-right: calc(#{$rawinput-icon-container-size} + #{tempo(2)});
  }

  &.hasIconLeft {
    padding-left: calc(#{$rawinput-icon-container-size} + #{tempo(2)});
  }

  // prevent visibility of input type for number
  // src: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}

.wrapper {
  position: relative;
  width: 100%;

  .iconContainer {
    @include border-rounded;
    width: $rawinput-icon-container-size;
    height: $rawinput-icon-container-size;
    position: absolute;
    background-color: $blue--100;
    color: $slate--500;
    font-weight: bold;
    left: tempo(1);
    top: 7px;

    &.hasIconRight {
      left: auto;
      right: tempo(1);
    }
  }

  // transparent input has no border
  .transparent + .iconContainer {
    left: 7px;
    top: 6px;
  }
}
