// convenience
$white: #fff;
$black: #000;

// TYPOGRAPHY

// dark text on light background
$dark-brand: #0f6fff;

$dark-aaaa: #050c26;
$dark-aaa: #525769;
$dark-aa: #717584;
$dark-a: #9194a0;

$dark-link: $dark-brand;
$dark-success: #008562;
$dark-warning: #ac6600;
$dark-error: #cc033e;

// light text on dark background
$light-brand: #1a75ff;

$light-aaaa: #fff;
$light-aaa: #9b9da8;
$light-aa: #777b89;
$light-a: #5a5e70;

$light-link: $light-brand;
$light-success: #009c5e;
$light-warning: #c56e09;
$light-error: #ee2531;

// SPECTRUM

// slate
$slate-900: #050c26 !default;
$slate-800: #162040 !default;
$slate-700: #385075 !default;
$slate-600: #576f92 !default;
$slate-500: #7b91b1 !default;
$slate-400: #acbdd5 !default;
$slate-300: #d2d9e5 !default;
$slate-200: #e4e7f0 !default;
$slate-100: #f2f4f7 !default;

// blue
$blue-900: #000649 !default;
$blue-800: #001366 !default;
$blue-700: #0029b0 !default;
$blue-600: #0059de !default;
$blue-500: #0f6fff !default;
$blue-400: #268bff !default;
$blue-300: #85beff !default;
$blue-200: #dde9f8 !default;
$blue-100: #f2f8ff !default;

// green
$green-900: #003520 !default;
$green-800: #004328 !default;
$green-700: #005a37 !default;
$green-600: #008953 !default;
$green-500: #009c5e !default;
$green-400: #00a880 !default;
$green-300: #00cc96 !default;
$green-200: #b7ecde !default;
$green-100: #e1faf3 !default;

// red
$red-900: #4d001d !default;
$red-800: #a00038 !default;
$red-700: #cc033e !default;
$red-600: #e9304b !default;
$red-500: #f2555f !default;
$red-400: #f56671 !default;
$red-300: #fb868e !default;
$red-200: #ffdce0 !default;
$red-100: #fff1f3 !default;

// purple
$purple-900: #220061 !default;
$purple-800: #311094 !default;
$purple-700: #4039a8 !default;
$purple-600: #5646be !default;
$purple-500: #7956bf !default;
$purple-400: #9875de !default;
$purple-300: #b99ae9 !default;
$purple-200: #dbc0f8 !default;
$purple-100: #f8f1ff !default;

// orange
$orange-900: #4e2400 !default;
$orange-800: #914404 !default;
$orange-700: #b35a04 !default;
$orange-600: #c56e09 !default;
$orange-500: #cb7d0e !default;
$orange-400: #f2a73d !default;
$orange-300: #e9b44f !default;
$orange-200: #fce79b !default;
$orange-100: #fff9e7 !default;

// Go to market colors
$gtmblue-800: #01134b;
$gtmblue-700: #052077;
$gtmblue-600: #062aa0;
$gtmblue-500: #143fcd;
$gtmblue-400: #3a45d4;
$gtmblue-300: #6670f5;
$gtmblue-200: #b0b5fd;
$gtmblue-100: #eaebff;

$gtmgreen-800: #002911;
$gtmgreen-700: #00431b;
$gtmgreen-600: #005a24;
$gtmgreen-500: #0c7134;
$gtmgreen-400: #229651;
$gtmgreen-300: #67cc90;
$gtmgreen-200: #b4ecca;
$gtmgreen-100: #e0f9ea;

$gtmorange-800: #790700;
$gtmorange-700: #a82901;
$gtmorange-600: #d3450b;
$gtmorange-500: #f0591c;
$gtmorange-400: #ef7b46;
$gtmorange-300: #ffaa83;
$gtmorange-200: #ffd3bf;
$gtmorange-100: #ffede5;

$gtmpink-800: #80112c;
$gtmpink-700: #ab2344;
$gtmpink-600: #d44266;
$gtmpink-500: #f47c9a;
$gtmpink-400: #f595a5;
$gtmpink-300: #ffc1cc;
$gtmpink-200: #ffdee3;
$gtmpink-100: #fff1f3;

$gtmyellow-800: #9f5600;
$gtmyellow-700: #ce7c00;
$gtmyellow-600: #eaa903;
$gtmyellow-500: #f8be14;
$gtmyellow-400: #f4c63d;
$gtmyellow-300: #fedd7c;
$gtmyellow-200: #ffebaf;
$gtmyellow-100: #fff5d8;

$gray-800: #616161;
$gray-700: #757575;
$gray-600: #9e9e9e;
$gray-500: #bdbdbd;
$gray-400: #e0e0e0;
$gray-300: #eee;
$gray-200: #f5f5f5;
$gray-100: #fafafa;

// for map-get programmatic look up
$colors: (
  black: $black,
  white: $white,
  dark-brand: $dark-brand,
  light-brand: $light-brand,
  dark-aaaa: $dark-aaaa,
  dark-aaa: $dark-aaa,
  dark-aa: $dark-aa,
  dark-a: $dark-a,
  dark-link: $dark-link,
  dark-success: $dark-success,
  dark-warning: $dark-warning,
  dark-error: $dark-error,
  light-aaaa: $light-aaaa,
  light-aaa: $light-aaa,
  light-aa: $light-aa,
  light-a: $light-a,
  light-link: $light-link,
  light-success: $light-success,
  light-warning: $light-warning,
  light-error: $light-error,
  slate-900: $slate-900,
  slate-800: $slate-800,
  slate-700: $slate-700,
  slate-600: $slate-600,
  slate-500: $slate-500,
  slate-400: $slate-400,
  slate-300: $slate-300,
  slate-200: $slate-200,
  slate-100: $slate-100,
  blue-900: $blue-900,
  blue-800: $blue-800,
  blue-700: $blue-700,
  blue-600: $blue-600,
  blue-500: $blue-500,
  blue-400: $blue-400,
  blue-300: $blue-300,
  blue-200: $blue-200,
  blue-100: $blue-100,
  green-900: $green-900,
  green-800: $green-800,
  green-700: $green-700,
  green-600: $green-600,
  green-500: $green-500,
  green-400: $green-400,
  green-300: $green-300,
  green-200: $green-200,
  green-100: $green-100,
  red-900: $red-900,
  red-800: $red-800,
  red-700: $red-700,
  red-600: $red-600,
  red-500: $red-500,
  red-400: $red-400,
  red-300: $red-300,
  red-200: $red-200,
  red-100: $red-100,
  purple-900: $purple-900,
  purple-800: $purple-800,
  purple-700: $purple-700,
  purple-600: $purple-600,
  purple-500: $purple-500,
  purple-400: $purple-400,
  purple-300: $purple-300,
  purple-200: $purple-200,
  purple-100: $purple-100,
  orange-900: $orange-900,
  orange-800: $orange-800,
  orange-700: $orange-700,
  orange-600: $orange-600,
  orange-500: $orange-500,
  orange-400: $orange-400,
  orange-300: $orange-300,
  orange-200: $orange-200,
  orange-100: $orange-100,
  // GTM
  gtmblue-800: $gtmblue-800,
  gtmblue-700: $gtmblue-700,
  gtmblue-600: $gtmblue-600,
  gtmblue-500: $gtmblue-500,
  gtmblue-400: $gtmblue-400,
  gtmblue-300: $gtmblue-300,
  gtmblue-200: $gtmblue-200,
  gtmblue-100: $gtmblue-100,
  gtmgreen-800: $gtmgreen-800,
  gtmgreen-700: $gtmgreen-700,
  gtmgreen-600: $gtmgreen-600,
  gtmgreen-500: $gtmgreen-500,
  gtmgreen-400: $gtmgreen-400,
  gtmgreen-300: $gtmgreen-300,
  gtmgreen-200: $gtmgreen-200,
  gtmgreen-100: $gtmgreen-100,
  gtmorange-800: $gtmorange-800,
  gtmorange-700: $gtmorange-700,
  gtmorange-600: $gtmorange-600,
  gtmorange-500: $gtmorange-500,
  gtmorange-400: $gtmorange-400,
  gtmorange-300: $gtmorange-300,
  gtmorange-200: $gtmorange-200,
  gtmorange-100: $gtmorange-100,
  gtmpink-800: $gtmpink-800,
  gtmpink-700: $gtmpink-700,
  gtmpink-600: $gtmpink-600,
  gtmpink-500: $gtmpink-500,
  gtmpink-400: $gtmpink-400,
  gtmpink-300: $gtmpink-300,
  gtmpink-200: $gtmpink-200,
  gtmpink-100: $gtmpink-100,
  gtmyellow-800: $gtmyellow-800,
  gtmyellow-700: $gtmyellow-700,
  gtmyellow-600: $gtmyellow-600,
  gtmyellow-500: $gtmyellow-500,
  gtmyellow-400: $gtmyellow-400,
  gtmyellow-300: $gtmyellow-300,
  gtmyellow-200: $gtmyellow-200,
  gtmyellow-100: $gtmyellow-100,
  gray-800: $gray-800,
  gray-700: $gray-700,
  gray-600: $gray-600,
  gray-500: $gray-500,
  gray-400: $gray-400,
  gray-300: $gray-300,
  gray-200: $gray-200,
  gray-100: $gray-100,
);
