// --------------------
// COLORS

@import 'colors';

// --------------------
// FAMILY

$font-family-primary: 'Helvetica Neue', arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
$font-family-monospace: ui-monospace, sfmono-regular, menlo, monaco, consolas,
  'Liberation Mono', 'Courier New', monospace;
$font-family-system: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$font-families: (
  primary: $font-family-primary,
  serif: $font-family-serif,
  monospace: $font-family-monospace,
  system: $font-family-system,
);

// --------------------
// TRANSFORM

$text-transforms: (lowercase, uppercase, capitalize, none);

// --------------------
// WEIGHT

$weight-ultralight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-heavy: 800;

$weights: (
  ultralight: $weight-ultralight,
  light: $weight-light,
  regular: $weight-regular,
  medium: $weight-medium,
  semibold: $weight-semibold,
  bold: $weight-bold,
  heavy: $weight-heavy,
);

// --------------------
// PRESET (SIZE, LINE HEIGHT)

$font-sizes-map: (
  // Legacy miniature
  size-2xs:
    (
      font-size: 11px,
      line-height: 20px,
    ),
  // Legacy miniature
  size-xs:
    (
      font-size: 12px,
      line-height: 20px,
    ),
  // Mini
  size-sm:
    (
      font-size: 14px,
      line-height: 20px,
    ),
  // Body / Subsection Heading
  size-md:
    (
      font-size: 16px,
      line-height: 20px,
    ),
  // Section Heading
  size-lg:
    (
      font-size: 20px,
      line-height: 24px,
    ),
  // Page Heading
  size-xl:
    (
      font-size: 24px,
      line-height: 30px,
    ),
  // Display Heading
  size-2xl:
    (
      font-size: 36px,
      line-height: 40px,
    ),
  // Blog Articles
  size-3xl:
    (
      font-size: 48px,
      line-height: 52px,
    ),
  // Hero Heading
  size-4xl:
    (
      font-size: 56px,
      line-height: 64px,
    ),
  // Hero Heading Plus
  size-5xl:
    (
      font-size: 64px,
      line-height: 72px,
    )
);

// --------------------
// Z-INDEX

$z-index-hover: 2;
$z-index-tooltip: 10;
$z-index-menu: 100;
$z-index-overlay: 200;
$z-index-postoverlay: 300;
$z-index-modal: 400;
$z-index-postmodal: 500;
$z-index-toast: 1000;
$z-index-sky: 10000;
$z-index-space: 20000;
$z-index-max: 2147483647;
