// --------------------
// COLORS

@import 'colors';

// --------------------
// FAMILY

$font-family--primary: 'helvetica neue', arial, helvetica, freesans,
  'liberation sans', 'numbus sans l', sans-serif;
$font-family--serif: georgia, serif;
$font-family--monospace: monaco, 'Courier New', monospace;
$font-family--system: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$font-families: (
  primary: $font-family--primary,
  serif: $font-family--serif,
  monospace: $font-family--monospace,
  system: $font-family--system,
);

// --------------------
// TRANSFORM

$text-transforms: (lowercase, uppercase, capitalize, none);

// --------------------
// WEIGHT

$weight--ultralight: 200;
$weight--light: 300;
$weight--regular: 400;
$weight--medium: 500;
$weight--semibold: 600;
$weight--bold: 700;
$weight--heavy: 800;

$weights: (
  ultralight: $weight--ultralight,
  light: $weight--light,
  regular: $weight--regular,
  medium: $weight--medium,
  semibold: $weight--semibold,
  bold: $weight--bold,
  heavy: $weight--heavy,
);

// --------------------
// LINE HEIGHT

$line-height--default: 1.5;
$line-height--comfortable: 1.25;
$line-height--compact: 1.125;
$line-height--dense: 1.0625;

$line-heights: (
  default: $line-height--default,
  comfortable: $line-height--comfortable,
  compact: $line-height--compact,
  dense: $line-height--dense,
);

// --------------------
// PRESET - SIZE + LINE HEIGHT

$font-sizes-map: (
  size--2xs: (
    font-size: 11px,
    line-height: 1.45,
  ),
  size--xs: (
    font-size: 12px,
    line-height: 1.67,
  ),
  size--sm: (
    font-size: 14px,
    line-height: 1.5,
  ),
  size--md: (
    font-size: 16px,
    line-height: 1.5,
  ),
  size--lg: (
    font-size: 20px,
    line-height: 1.4,
  ),
  size--xl: (
    font-size: 24px,
    line-height: 1.25,
  ),
  size--2xl: (
    font-size: 32px,
    line-height: 1.125,
  ),
  size--3xl: (
    font-size: 36px,
    line-height: 1.11,
  ),
  size--4xl: (
    font-size: 40px,
    line-height: 1.05,
  ),
  size--5xl: (
    font-size: 48px,
    line-height: 1.06,
  ),
  size--6xl: (
    font-size: 56px,
    line-height: 1.07,
  ),
);

// --------------------
// Z-INDEX

$z-index--hover: 2;
$z-index--tooltip: 10;
$z-index--menu: 100;
$z-index--overlay: 200;
$z-index--postoverlay: 300;
$z-index--modal: 400;
$z-index--postmodal: 500;
$z-index--toast: 1000;
$z-index--sky: 10000;
$z-index--space: 20000;
$z-index--max: 2147483647;
