@import 'halo';

.component {
  @include halo-element-base; // TODO: deprecate
  @include border-rounded;
  @include font-antialiased;
  border: 1px solid transparent;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  & + & {
    margin-left: 0.75em;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:focus {
    // probably should not turn this off due to accessibility.
    outline: 0;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

// Colors

.primary {
  background-color: $dark-brand;
  border-color: $dark-brand;
  color: $white;

  &:hover {
    background-color: $blue-600;
    border-color: $blue-600;
  }

  &:active,
  &:disabled {
    background-color: $blue-300;
    border-color: $blue-300;
  }
}

.secondary {
  background-color: $white;
  border-color: $blue-500;
  color: $blue-500;

  &:hover {
    background-color: $slate-100;
  }

  &:active {
    background-color: #ebecee;
    border-color: $blue-400;
    color: $blue-400;
  }

  &:disabled {
    border-color: $blue-300;
    color: $blue-300;
  }
}

.gray {
  background-color: $slate-100;
  border-color: $dark-aaa;
  color: $dark-aaa;

  &:active,
  &:hover {
    background-color: $slate-200;
  }

  &:disabled {
    border-color: $dark-a;
    color: $dark-a;
  }
}

.destructive {
  background-color: $red-100;
  border-color: $red-100;
  color: $light-error;

  &:hover {
    background-color: $red-200;
  }

  &:disabled {
    background-color: $slate-100;
    border-color: $slate-100;
    color: $slate-500;
  }
}

.clear {
  color: $dark-aaaa;
  background-color: transparent;

  &:hover {
    @include font($weight: bold);
  }
}

// Sizes

.sm {
  font-size: 14px;
  padding: 7px tempo(1.5) tempo(1) tempo(1.5);

  &.iconOnly {
    padding: tempo(2);
  }
}

.md {
  font-size: 14px;
  padding: 11px tempo(2) tempo(1.5) tempo(2);

  &.iconOnly {
    padding: tempo(2.5);
  }
}

.lg {
  font-size: 14px;
  padding: 15px tempo(5) tempo(2) tempo(5);

  &.iconOnly {
    padding: tempo(4);
  }
}

// Others

.hasIcon {
  @include flex-row($align: center, $valign: center);
  flex-shrink: 0;

  .icon {
    fill: currentColor;
    stroke: currentColor;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 0.5em; // some space between icon + label

    .iconOnly & {
      padding-right: 0;
    }

    .rightIcon & {
      padding-left: 0.5em; // some space between icon + label
      padding-right: 0;
    }
  }
}

.width100 {
  width: 100%;
}
