@import '../scss/halo';

@include html-reset;

:global {
  html,
  body,
  button {
    font-family: $font-family--primary !important;
  }

  // hack for color palette page
  @media (min-width: 920px) {
    div#root {
      > div > div > div:nth-child(4) > div {
        width: 100%;
        max-width: 1200px;
      }
    }
  }
}
