$to-flex: (
  top: flex-start,
  center: center,
  bottom: flex-end,
  left: flex-start,
  right: flex-end,
  normal: normal,
  space-between: space-between,
  space-evenly: space-evenly,
);

@mixin flex-row($fill: false, $align: null, $valign: null, $basis: null) {
  display: flex;
  flex-basis: $basis;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  align-items: map-get($to-flex, $valign);
  justify-content: map-get($to-flex, $align);

  @if $fill {
    flex: 1 1 0;
  }
}

@mixin flex-column($fill: false, $align: null, $valign: null, $basis: null) {
  display: flex;
  flex-basis: $basis;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  align-items: map-get($to-flex, $align);
  justify-content: map-get($to-flex, $valign);

  @if $fill {
    flex: 1 1 0;
  }
}

@mixin flex-1 {
  flex: 1 1 0;
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
